:root {
  --color-primary: #8adbe4;
  --color-secondary: #08a848;
  --color-dark: #1c1d3b;
  --color-light: #ffffff;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: var(--color-dark);
  font-family: "Roboto", sans-serif;
}

header {
  background: var(--color-light);

  .header-content {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
}

section {
  height: 100%;
  padding: 2rem;
  background: var(--color-primary);
}

button {
  height: 30px;
}

.dialog-container {
  position: absolute !important;
  background: var(--color-dark);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
